@using Orchard.ContentManagement
@using Orchard.Layouts.Helpers
@using Orchard.MediaLibrary.Models
@{
    var imagePart = (ImagePart)Model.ImagePart;
    var mediaPart = imagePart != null ? imagePart.As<MediaPart>() : default(MediaPart);
    var imageUrl = Url.Content(mediaPart.MediaUrl);
    var imageAlt = mediaPart.AlternateText;
    var imageCaption = mediaPart.Caption;
}
@if (String.IsNullOrEmpty(imageCaption)) {
    <img src="@imageUrl" alt="@imageAlt" class="img-responsive center-image" />
} else {
    <a href="@imageCaption" target="@( imageCaption.StartsWith("http") ? "_blank" : "_self" )">
        <img src="@imageUrl" alt="@imageAlt" class="img-responsive center-image" />
    </a>
}